set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROC [dbo].[SP_GET_MOM_BLK_USRS]
(
	@MOM_USR_ID	BIGINT
)
AS
BEGIN
	
	SET TRAN ISOLATION LEVEL READ UNCOMMITTED
	SET NOCOUNT ON
	SELECT    B.ID
			, MOM_BLK_USR_ID
			, U.DISPLAY_NAME AS DISPLAY_NAME
			, MOM_USR_ID
	FROM MOM_BLK_USRS B
		INNER JOIN MOM_USR U
		ON B.MOM_BLK_USR_ID = U.ID
	WHERE MOM_USR_ID = @MOM_USR_ID 


END

