set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

CREATE PROC [dbo].[SP_GET_MOM_USR_EDU]
(
	@MOM_USR_ID	BIGINT
)
AS
BEGIN
	
	SET TRAN ISOLATION LEVEL READ UNCOMMITTED
	SET NOCOUNT ON
	SELECT   ID
			, MOM_SCH_NAME
			, MOM_SCH_TYPE
			, MOM_SCH_ST
			, MOM_SCH_ED
			, MOM_USR_ID
	FROM MOM_USR_EDU
	WHERE MOM_USR_ID = @MOM_USR_ID 


END


