set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go



ALTER PROC [dbo].[SP_MOM_RCP_ADD]
(
	  @NAME VARCHAR (100)
	, @DESCRIPTION VARCHAR (255)
	, @PHOTO VARCHAR (255) 	= NULL
	, @TAGS VARCHAR (255) 	= NULL
	, @PREP_TM VARCHAR (100) 	= NULL
	, @COOK_TM VARCHAR (100) 	= NULL
	, @SERVE_TO VARCHAR (100)	= NULL
	, @DIFFICULTY VARCHAR (100)
	, @INGREDIENTS TEXT
	, @METHOD TEXT	
	, @VEGE BIT	= NULL
	, @VEGAN BIT	= NULL
	, @DAIRY BIT	= NULL
	, @GLUTEN BIT	= NULL
	, @NUT BIT	= NULL
	, @ALLOW BIT	= NULL
	, @MOM_USR_ID BIGINT
)
AS
BEGIN
	INSERT INTO MOM_RCP
	(
		  NAME
		, DESCRIPTION
		, PHOTO
		, TAGS
		, PREP_TM
		, COOK_TM
		, SERVE_TO
		, DIFFICULTY
		, INGREDIENTS
		, METHOD
		, VEGE
		, VEGAN
		, DAIRY
		, GLUTEN
		, NUT
		, ALLOW
		, MOM_USR_ID

	)
	VALUES
	(
		  @NAME
		, @DESCRIPTION
		, @PHOTO
		, @TAGS
		, @PREP_TM
		, @COOK_TM
		, @SERVE_TO
		, @DIFFICULTY
		, @INGREDIENTS
		, @METHOD
		, @VEGE
		, @VEGAN
		, @DAIRY
		, @GLUTEN
		, @NUT
		, @ALLOW
		, @MOM_USR_ID
	)
	
END


