set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROC [dbo].[SP_MOM_RCP_GET_BY_ID]
(
	@ID	INT
)
AS
BEGIN
	
	SET TRAN ISOLATION LEVEL READ UNCOMMITTED
	SET NOCOUNT ON
	SELECT   ID
			, NAME
			, DESCRIPTION
			, PHOTO = ISNULL (PHOTO, '../images/nopic.jpg')
			, PREP_TM
			, COOK_TM
			, SERVE_TO
			, DIFFICULTY
			, INGREDIENTS
			, METHOD
			, VEGE
			, VEGAN
			, DAIRY
			, GLUTEN
			, NUT
			, ALLOW
			, VIEWS
			, RATING
			, MOM_USR_ID
	FROM MOM_RCP
	WHERE ID = @ID 

	
	SELECT DISTINCT
			MOM_ID,
			NAMESPACE,
			(STUFF(
			(SELECT ', ' + TAG 
			 FROM	MOM_TAGS T2 
			 WHERE T2.NAMESPACE = T1.NAMESPACE 
				   AND T2.MOM_ID = T2.MOM_ID 
			 FOR XML PATH('')),1,2,'')) AS TAGS
	FROM MOM_TAGS T1
	WHERE MOM_ID = @ID
	
END


